@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-link {
   color: #979797;
}

.social-link {
   color: #e2e2e2;
}

.hover-link,
.social-link {
   padding-bottom: 2px;
   border-bottom: solid 1px transparent;
}

.hover-link:hover,
.social-link:hover {
   color: #e2e2e2;
   border-color: #9499ff;
   transition: color 0.25s ease-in-out 0.1s, border-color 0.25s ease-in-out 0.1s;
}

.social-link:hover svg {
   stroke: #9499ff !important;
   transition: stroke 0.25s ease-in-out 0.1s;
}
